#**.o
msh.o
.DS_Store
test*

# unnecessairy .o files
o/lib/*.o
# makefile
o/alg/*.o
o/dependencies/*.o
o/lib/*.o
o/main/*.o
o/sub/*.o
o/*.o
shell.o
# Visual Studio
o/VS/dependencies/*.obj
o/VS/develop/*.obj
o/VS/main/*.obj
o/VS/sub/*.obj
o/VS/src/*obj
o/VS/src/Commands/*.obj
o/VS/src/Commands/dependencies/*.obj
o/VS/*.obj
o/packages/*/src/*/*.obj
o/*obj

**/Debug/*
**/x64/*
**/Release/*

# unnecessary executables
msh
msh.exe
build/msh*
devel

# Commands
src/Commands/*
src/Commands/main/*.c
src/Commands/sub/*.c
src/Commands/cparts/*.txt
src/Commands/cparts/*.h

src/cparts/*
src/cparts/commandList.txt
src/cparts/readZeile_commandCut_main.txt
src/cparts/readZeile_commandCut_sub.txt
src/cparts/readZeile_commandFunc_main.txt
src/cparts/readZeile_commandFunc_sub.txt
src/cparts/command_def.h
