#**.o
msh.o
.DS_Store
test*

# unnecessairy .o files
o/lib/*.o
o/dependencies/*.o
o/lib/*.o
o/main/*.o
o/sub/*.o
o/*.o
shell.o

# unnecessary executables
msh
msh.exe
build/msh*
devel

# Commands
src/Commands/main/*.c
src/Commands/sub/*.c
src/Commands/cparts/*.txt
src/Commands/cparts/*.h

src/cparts/commandList.txt
src/cparts/readZeile_commandCut_main.txt
src/cparts/readZeile_commandCut_sub.txt
src/cparts/readZeile_commandFunc_main.txt
src/cparts/readZeile_commandFunc_sub.txt
